<!--Footer (with Social Media)-->
<div class="copyright">
    <div class="container">
        <div class="social-media">
            <span class="social">
                <a href="#"><i class="icon-facebook"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-google-plus"></i></a>
                <a href="#"><i class="icon-pinterest"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-github"></i></a>
            </span>
        </div>
        &copy; 2020 Campus Konekt. All rights reserved.
    </div>
    <!--end container-->
</div>
<!--end copyright-->
<!--End Footer (with Social Media)-->