<div id="wrapper">
    <!--Navigation-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Logo" /></a>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#screens">Screens</a> </li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#contact">Contact</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="£" target="_blank">Link A</a></li>
                            <li><a href="£" target="_blank">Link B</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!--end container-->
    </nav>
    <!--End Navigation-->