<div style="clear: both;"></div>


<!--Headline Area-->
<div id="intro">
    <div class="headline-bg">
        <div class="headline-left-content">
            <div class="animated fadeIn">
                <h1>Stay Konekted Anywhere You Are!</h1>
                Welcome to Campus Konekt where you meet people from all campuses all over the world, <br>
                providing you the opportunity to stay konekted anywhere you are....
            </div>
            <div class="headline-icons">
                <div class="steps">
                    <div class="animated bounceInDown"><img src="assets/images/steps.png" alt="steps" /></div>
                </div>
                <div id="store-buttons" class="animated bounceIn tada">
                    <div class="appstore-button"><a href="#"><img src="assets/images/appstore-download-btn.png"
                                alt="appstore" /></a></div>
                    <div class="playstore-button"><a href="#"><img src="assets/images/playstore-download-btn.png"
                                alt="playstore" /></a></div>
                </div>
            </div>
        </div>

        <img class="headline-right-content animated bounceInRight" alt="iPhone" src="assets/images/iphone-right.png" />
    </div>
    <div class="dot-intro">
        <a class="icon-chevron-down" href="#overview"></a>
    </div>

</div>
<!--end #intro-->
<!--End Headline Area-->


<!--Overview-->
<div id="overview">
    <div class="container">
        <h2>Overview</h2>
        <div class="row">
            <p>Campus Konekt is a social platform that makes the availability of broadcasting of informations, 
                marketing of products, showcasing of entertainments and connecting with 
                people all over the campuses in the whole world.</p>
        </div>

        <div class="fast">
            <h2>fast</h2>
        </div>
        <div class="arrow-fast" style="padding-top: 180px;">
            <img src="assets/images/arrow-fast.png" alt="fast" />
        </div>

        <div class="friendly">
            <h2>friendly</h2>
        </div>
        <div class="arrow-friendly" style="padding-top: 180px;">
            <img src="assets/images/arrow-friendly.png" alt="friendly" />
        </div>

        <div class="simple">
            <h2>simple</h2>
        </div>
        <div class="arrow-simple" style="padding-top: 180px;"><img src="assets/images/arrow-simple.png" alt="simple" /></div>

        <div class="intuitive">
            <h2>intuitive</h2>
        </div>
        <div class="arrow-intuitive" style="padding-top: 180px;"><img src="assets/images/arrow-intuitive.png" alt="intuitive" /></div>

        <div class="secure">
            <h2>secure</h2>
        </div>
        <div class="arrow-secure" style="padding-top: 180px;"><img src="assets/images/arrow-secure.png" alt="secure" /></div>

        <div class="stable">
            <h2>stable</h2>
        </div>
        <div class="arrow-stable" style="padding-top: 180px;"><img src="assets/images/arrow-stable.png" alt="stable" /></div>

        <div class="white-iphone" style="display: block !important;">
            <div class="video-bg">
                <!-- <iframe width="465" height="262" src="http://www.youtube.com/embed/abcdefghi?rel=0"></iframe> -->
            </div>
        </div>

    </div>
    <!--end container-->
</div>
<!--end #overview-->
<!--End Overview-->


<!--Features-->
<div id="features">
    <div class="dot-features">
        <a class="icon-cogs" href="#features"></a>
    </div>

    <div class="container">

        <div class="features">
            <h2>Features</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="screen1" alt="Screens" src="assets/images/screen1.png" />
                <img class="screen2" alt="Screens" src="assets/images/screen2.png" />
                <img class="screen3" alt="Screens" src="assets/images/screen3.png" />
            </div>
            <div class="col-md-1">
                <div class="fa-icon-wrap fa-icon-effect">
                    <a href="#" class="fa-icon fa-cog"></a>
                    <a href="#" class="fa-icon fa-sitemap"></a>
                    <a href="#" class="fa-icon fa-star"></a>
                    <a href="#" class="fa-icon fa-globe"></a>
                    <a href="#" class="fa-icon fa-cloud-upload"></a>
                </div>
            </div>
            <div class="col-md-5 text-features">
                <h3>First Awesome Feature</h3>
                <p>Find all campuses world wide.</p><br><br>
                <h3>Second Great Attribute</h3>
                <p> Meet people from different campuses world wide.</p><br>
                <h3>Third Cool Characteristic</h3>
                <p>Filter users according to your selections.</p><br>
                <h3>Fourth Exclusive Trait</h3>
                <p>Hype of posts to maintain trendings.</p><br>
                <h3>Fifth Outstanding Aspect</h3>
                <p>Improved audio and video.</p>
            </div>
        </div>

    </div>
    <!--end container -->

</div>
<!--end #features-->
<!--End Features-->


<!--Screens-->
<div id="screens">
    <div class="dot-screens">
        <a class="icon-picture" href="#screens"></a>
    </div>
    <h2>APP SCREENS</h2>

    <div class="container">

        <p>Welcome to Campus Konekt where you meet people from all campuses all over the world, 
            providing you the opportunity to stay konekted anywhere you are...</p>
        <br />

        <!-- SCREENS GALLERY -->
        <div class="view view-tenth">
            <img src="assets/images/screens/4.jpg" alt="screen 4" />
            <div class="mask">
                <h2>CAMPUS KONEKT</h2>
                <p>Campus konekt connects all the Campuses world wide and makes you able to meets them!</p>
                <a href="#" class="info">Try Now</a>
            </div>
        </div>
        <div class="view view-tenth">
            <img src="assets/images/screens/1.jpg" alt="screen 1" />
            <div class="mask">
                <h2>FIND KONEKTORS</h2>
                <p>In Campus Konekt you can easily find friends both in your campus and all other campuses world wide.</p>
                <a href="#" class="info">Try Now</a>
            </div>
        </div>
        <div class="view view-tenth">
            <img src="assets/images/screens/2.jpg" alt="screen 2" />
            <div class="mask">
                <h2>MEET KONEKTORS</h2>
                <p>Campus Konekt makes meeting people so easy on a click, making them stay in one platform.</p>
                <a href="#" class="info">Try Now</a>
            </div>
        </div>
        <div class="view view-tenth">
            <img src="assets/images/screens/3.jpg" alt="screen 3" />
            <div class="mask">
                <h2>STAY KONEKTED</h2>
                <p>In Campus Konekt you stay Konekted always anywhere you are wherever you go...</p>
                <a href="#" class="info">Try Now</a>
            </div>
        </div>

    </div>
    <!--container-->

</div>
<!--end #screens>
	<!- -End Screens-->


<!--Testimonials-->
<div id="testimonials">
    <div class="dot-testimonials pt-0">
        <a class="icon-comments" href="#testimonials"></a>
    </div>
    <div class="testimonials pb-5">
        <h2>TESTIMONIALS</h2>
    </div>

    <div class="container">

        <!--Testimonials Slider-->
        <div class="testimonials-slider container">
            <div class="row">
                <div class="col-md-4">
                    <div class="slide" style="padding: 5px; border: 2px solid white; border-radius: 10px; height: 320px;">
                        <div class="testimonials-carousel-thumbnail text-center"><img class="img-circle" alt="Testimonial" src="assets/images/testimonials/t1.jpg">
                        </div>
                        <div class="testimonials-carousel-context text-center" style="border: 2px solid white; border-radius: 10px;">
                            <div class="testimonials-name">Jason Doe <span>@CK South Africa</span></div>
                            <div class="testimonials-carousel-content">"Some comments here... Some comments here... Some comments here..."</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="slide" style="padding: 5px; border: 2px solid white; border-radius: 10px; height: 320px;">
                        <div class="testimonials-carousel-thumbnail text-center"><img class="img-circle" alt="Testimonial" src="assets/images/testimonials/t2.jpg">
                        </div>
                        <div class="testimonials-carousel-context text-center"  style="border: 2px solid white; border-radius: 10px;">
                            <div class="testimonials-name">Jenny Smith <span>@Ck Russia</span></div>
                            <div class="testimonials-carousel-content">"Some comments here... Some comments here... Some comments here... Some comments here..."</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="slide" style="padding: 5px; border: 2px solid white; border-radius: 10px; height: 320px;">
                        <div class="testimonials-carousel-thumbnail text-center"><img class="img-circle" alt="Testimonial" src="assets/images/testimonials/t3.jpg">
                        </div>
                        <div class="testimonials-carousel-context text-center"  style="border: 2px solid white; border-radius: 10px;">
                            <div class="testimonials-name">Johnny Doe <span>@CK Nigeria</span></div>
                            <div class="testimonials-carousel-content">"Some comments here... Some comments here... Some comments here... Some comments here... Some comments here... Some comments here..."
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            

            

        </div>
        <!--End Testimonials Slider-->

    </div>
    <!--end container-->

</div>
<!--end #testimonials-->
<!--End Testimonials-->

<!--Contact-->
<div id="contact">
    <div class="dot-contact">
        <a class="icon-map-marker" href="#contact"></a>
    </div>
    <div class="contact">
        <h2>Leave us a thought</h2>
    </div>

    <div class="container">

        <div class="row" style="padding-top: 40px;">
            <div class="contact-details-title">CAMPUS KONEKT WORLD WIDE</div>
            <!-- <div class="contact-details">
                123 Smith Boulevard, New York 23402, 555-123-4567<br />
                office@companydomain.com<br />
                www.companydomain.com<br />
            </div> -->
        </div>

        <div class="row">
            <div class="contact-form">
                <div class="col-md-12">
                    <form method="POST" id="contact-form" class="form-horizontal"
                        action=""
                        onSubmit="alert('Thank you for your feedback!');">

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Name</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" name="name" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" name="email" type="text" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Message</label>
                            <div class="col-lg-8">
                                <textarea class="form-control" name="message" rows="10" maxlength="1024"
                                    required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-6">
                                <button class="btn btn-default" type="reset">Reset</button>
                                <input type="hidden" name="save" value="contact-form">
                                <button class="btn btn-success" id="submit" type="submit">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
                <!--end coll-md-6-->
            </div>
            <!--end contact-form-->

            <!-- <div class="col-md-6">
                <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5465.492201525173!2d23.588573688691657!3d46.76990088622039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490e9d6864b2db%3A0x48164b53411945c4!2sUnirii+Square!5e0!3m2!1sen!2s!4v1386589657683"></iframe>
            </div> -->
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</div>
<!--end #contact-->
<!--End Contact-->