/*****************************************************
/*****************************************************
 1. GENERAL (BODY, IMAGES & TEXT) code (line 17)
 2. NAVIGATION code (line 97) 
 3. CONTENT AREAS (PAGES) code (line 182)
 4. HEADLINE code (line 255)
 5. OVERVIEW code (line 331)
 6. FEATURES code (line 501)
 7. SCREENS code (line 657)
 8. TESTIMONIALS code (line 836)
 9. PRICING & PLANS AREA code (line 1011)
10. CONTACT code (line 1098)
11. SOCIAL & COPYRIGHT FOOTER code (line 1170)
*****************************************************/


/* ------- 1. GENERAL (BODY, IMAGES & TEXT) ------- */

body {
	background: #FFF;
	position: relative;
	width: 100%;
	color: #555759;
	margin: auto 0;
	padding-top: 0;
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a, a:hover, a:focus {
	color: #FFF;
	text-decoration: none;
}

ul, ol {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-weight: 500;
	font-size: 1em;
	margin: 10px 6px;
	text-align: center;
	color: #555759;
	line-height: 140%;
}

h1 {
	font-size: 2.88em;
	color: #FFF;
	font-family: 'Raleway', 'Helvetica', sans-serif;
	font-weight: 700;
	text-shadow: 1px 1px #720707;
}

h2 {
	font-size: 2.25em;
	color: #720707;
	font-family: 'Raleway', 'Helvetica', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 130%;
	text-align: center;
	padding: 0;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h3 {
	font-size: 1.75em;
	color: #FFF;
	line-height: 130%;
	font-family: 'Raleway', 'Helvetica', sans-serif;
	font-weight: 700;
	padding: 10px 0;
}

#wrapper {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
}


/* ----------------- 2. NAVIGATION ----------------- */

.navbar {
	border: 0 none;
	margin: 0 auto;
	padding: 0;
}

.navbar-default {
	background: #FFF;
	height: 75px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.navbar-brand {
	padding: 0;
}

.navbar-collapse.collapse {
	margin-top: 0;
	padding-top: 12px;
}

.navbar-default .navbar-nav > li > a {
	background: #FFF;
	color: #606060;
	font-family: Lato, 'Helvetica', sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	border: 1px solid #FFF;
	padding: 26px 14px;
	position: relative;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #720707;
	border: 1px solid #720707;
	padding: 2px 5px;
	margin: 24px 9px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #FFF;
	color: #720707;
	border: 1px solid #720707;
	padding: 2px 5px;
	margin: 24px 9px;
}

.navbar-collapse.collapse {
	padding-top: 0;
	margin: 0 auto;
}

.navbar-collapse.collapse a:hover, .navbar-collapse.collapse a:focus {
	background: #720707;
	color: #FFF;
	margin: 0px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: #FFF;
	padding: 2px 5px;
	margin: 24px 9px;
}

.navbar-right .dropdown-menu {
	left: 0;
	right: auto;
}

.dropdown-menu {
	border: 1px transparent;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.236);
}

.dropdown-menu > li > a {
	font-size: 13px;
}


/* ----------- 3. CONTENT AREAS (PAGES) ------------ */

#content {
	overflow: scroll;
	height: 100%;
	position: relative;
}

#main a:hover, #main li a.active { 
	background: #720707; 
}

#intro{
	background: transparent 50% 0 no-repeat fixed;
	margin: 0 auto;
	padding: 0;
}

#overview{
	background: #FFF no-repeat fixed;
	color: #2c3e50;
	min-height: 840px;
	height: auto;
	margin: 0 auto;
	padding: 6% 0;
}

#features{
	background: url('../images/features.png') 50% 0 no-repeat fixed;
	color: #FFF;
	width: 100%;
	height: 940px;
	left: 0;
	padding:6% 0;	
	z-index: -1;
}

#screens{
	background: #FFF;
	min-height: 880px;
	height: auto;
	margin: 0 auto;
	color: #2c3e50;
	padding: 6% 0;
}

#testimonials{
	background: url('../images/testimonials.png') 50% 0 no-repeat fixed;
	color: #FFF;
	height: 560px;
	width: 100%;
	margin: 0 auto;
	padding: 6% 0;
}

#plans{
	background: #FFF 50% 0 no-repeat fixed;
	min-height: 880px;
	height: auto;
	margin: 0 auto;
	padding: 6% 0;
}

#contact{
	background: url('../images/contact.png') 50% 0 no-repeat fixed;
	color: #FFF;
	height: 840px;
	width: 100%;
	margin: 0 auto;
	padding: 6% 0;
}


/* ------------------- 4. HEADLINE ------------------- */

.headline-bg {
	width: 100%;
	min-height: 650px;
	height: auto;
	margin-top: 75px;
	background: url('../images/headline-bg.png') 50% 0 no-repeat;
	border-bottom: 10px solid #2c3e50;
}

.dot-intro {
	background: url('../images/dot-blue.png') 50% 50% no-repeat;
	width: 70px;
	height: 70px;
	margin: -40px 0 0 48.2%;
	text-align: center;
	position: absolute;
	z-index: 1000;
	color: #FFF;
	font-size: 2.25em;
}

.icon-chevron-down:before {
	margin: 16px 2px 0 0;
}

.headline-left-content {
	float: left;
	width: 51.5%;
	min-width: 600px;
	padding: 5% 0 0 20%;
	color: #FFF;
	text-align: center;
}

.headline-right-content {
	float: left;
	width: 48.5%;
	max-width: 550px;
	height: 640px;
	max-height: 100%;
	opacity: 1 !important;
}

.steps{
	width: 100%;
	height: auto;
	padding: 8% 0 16% 0;
}

#store-buttons {
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
}

.appstore-button {
	width: 195px;
	height: 70px;
	display: inline;
	margin-right: 4%;
	opacity: 1 !important;
}

.playstore-button {
	width: 195px;
	height: 70px;
	display: inline;
	margin-right: 4%;
	animation-delay: 4s;
	opacity: 1 !important;
}


/* ---------------- 5. OVERVIEW --------------- */

.white-iphone {
	background: url('../images/white-iphone.png') 50% no-repeat;
	position: relative;
	text-align: center;
	margin: 50px auto;
	padding-top: 1px;
	visibility: hidden;
}

.video-bg {
    width: 100%;
	max-width: 465px;
	height: auto;
	min-height: 262px;
	position: relative;
	margin: 6% auto;
	padding-bottom: 29.5%;
	padding-top: 0;
	overflow: hidden;
}

.video-bg iframe,
.video-bg object,
.video-bg embed {
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 264px;
}

.fast h2 {
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	color: #720707;
	text-transform: none;
	position: absolute;
	z-index: 9000;
	padding-top: 2%;
	left: 8.6%;
}

.arrow-fast {
	position: absolute;
	width: 100%;
	max-width: 50px;
	height: auto;
	max-height: 35px;
	top: 16.8%;
	left: 29.5%;
}

.friendly h2 {
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	color: #720707;
	text-transform: none;
	position: absolute;
	z-index: 9000;
	padding-top: 18%;
	left: 1.4%;
}

.arrow-friendly {
	position: absolute;
	width: 100%;
	max-width: 65px;
	height: auto;
	max-height: 22px;
	top: 19.8%;
	left: 28%;
}

.simple h2 {
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	color: #720707;
	text-transform: none;
	position: absolute;
	z-index: 9000;
	padding-top: 35%;
	left: 5.2%;
}

.arrow-simple {
	position: absolute;
	width: 100%;
	max-width: 50px;
	height: auto;
	max-height: 35px;
	top: 22.6%;
	left: 29%;
}

.intuitive h2 {
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	color: #720707;
	text-transform: none;
	position: absolute;
	z-index: 9000;
	padding-top: 2.5%;
	left: 85%;
}

.arrow-intuitive {
	position: absolute;
	width: 100%;
	max-width: 46px;
	height: auto;
	max-height: 26px;
	top: 16.8%;
	left: 67.7%;
}

.secure h2 {
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	color: #720707;
	text-transform: none;
	position: absolute;
	z-index: 9000;
	padding-top: 19%;
	left: 92.4%;
}

.arrow-secure {
	position: absolute;
	width: 100%;
	max-width: 110px;
	height: auto;
	max-height: 25px;
	top: 19.8%;
	left: 68.5%;
}

.stable h2 {
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	color: #720707;
	text-transform: none;
	position: absolute;
	z-index: 9000;
	padding-top: 34%;
	left: 87.6%;
}

.arrow-stable {
	position: absolute;
	width: 100%;
	max-width: 68px;
	height: auto;
	max-height: 22px;
	top: 22.7%;
	left: 68%;
}

.arrow-fast, .arrow-friendly, .arrow-simple, .arrow-intuitive, .arrow-secure, .arrow-stable {
	visibility: hidden;
	opacity: 1 !important;
}

.fast, .friendly, .simple, .intuitive, .secure, .stable {
	visibility: hidden;
}


/* ----------------- 6. FEATURES ----------------- */

.dot-features {
	background: url('../images/dot-red.png') 50% 50% no-repeat;
	width: 70px;
	height: 70px;
	margin: -155px 0 0 48.2%;
	text-align: center;
	position: absolute;
	z-index: 1000;
	color: #FFF;
	font-size: 2em;
}

.icon-cogs:before {
	margin: 18px 4px 0 0;
}

.features h2 {
	color: #FFF !important;
	line-height: 80%;
}

.screen1 {
	position: absolute;
	z-index: 20;
	visibility: hidden;
	opacity: 1 !important;
	margin: 0 auto;
	right: 4%;
}

.screen2 {
	position: absolute;
	z-index: 10;
	visibility: hidden;
	opacity: 1 !important;
	margin: 50px auto;
	right: 26%;
}

.screen3 {
	position: absolute;
	z-index: 1;
	visibility: hidden;
	opacity: 1 !important;
	margin: 100px 0 0 -120px;
}

.fa-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
	visibility: hidden;
	opacity: 1 !important;
}

.fa-icon {
	display: block;
	margin: 10%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	color: #FFF;
}

.fa-icon:after {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.fa-icon:before {
	font-family: 'FontAwesome';
	font-weight: normal;
	font-size: 2.6em;
	line-height: 165%;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.fa-cog:before {
	content: "\f013";
}

.fa-sitemap:before {
	content: "\f0e8";
}

.fa-star:before {
	content: "\f006";
}

.fa-globe:before {
	content: "\f0ac";
}

.fa-cloud-upload:before {
	content: "\f0ee";
}

.fa-icon-effect .fa-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
	margin: 71% 0 0 40%;
}

.no-touch .fa-icon-effect .fa-icon:hover {
	background: #720707;
	color: #FFF;
}

.no-touch .fa-icon-effect .fa-icon:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.text-features {
	margin: 2.8% auto;
	visibility: hidden;
}

.text-features h3 {
	margin: 6% 0 -2% 7%;
}

.text-features p {
	color: #FFF;
	padding: 0;
	margin: 0 0 0 7%;
	text-align: left;	
}


/* ----------------- 7. SCREENS ----------------- */

.dot-screens {
	background: url('../images/dot-red.png') 50% 50% no-repeat;
	width: 70px;
	height: 70px;
	margin: -155px 0 0 48.2%;
	text-align: center;
	position: absolute;
	z-index: 1000;
	color: #FFF;
	font-size: 2em;
}

.icon-picture:before {
	margin: 18px 2px 0 0;
}

.view {
   width: 280px;
   height: auto;
   margin: 0 5px 10px 0;
   float: left;
   border: 8px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #C4C4C4;
   -moz-box-shadow: 1px 1px 2px #C4C4C4;
   box-shadow: 1px 1px 2px #C4C4C4;
   cursor: default;
   background: #EAEAEA;
   visibility: hidden;
}

.view .mask,.view .content {
   width: 280px;
   height: 506px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view img {
   display: block;
   position: relative;
}

.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 2em;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}

.view p {
   font-family: 'Lato', 'Helvetica', sans-serif;
   font-style: italic;
   font-size: 1em;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}

.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #720707;
   border: 1px solid #720707;
   color: #fff;
   text-transform: uppercase;
}

.view a.info:hover {
   -webkit-box-shadow: 0 0 5px #720707;
   -moz-box-shadow: 0 0 5px #720707;
   box-shadow: 0 0 5px #720707;
}

.view-tenth img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
   background-color: rgba(226, 226, 226, 0.3);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   opacity: 0;
}

.view-tenth h2 {
   border-bottom: 1px solid #1F3F51;
   background: transparent;
   margin: 60px 35px 0px 20px;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   color: #1F3F51;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   opacity: 0;
}

.view-tenth p {
   color: #1F3F51;
   margin: 10px 20px 10px 10px;
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}

.view-tenth a.info {
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}

.view-tenth:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   opacity: 0;
}

.view-tenth:hover .mask {
   opacity: 1;
}

.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   opacity: 1;
}


/* ----------------- 8. TESTIMONIALS ----------------- */

.dot-testimonials {
	background: url('../images/dot-blue.png') 50% 50% no-repeat;
	width: 70px;
	height: 70px;
	margin: -155px 0 0 48.2%;
	text-align: center;
	position: absolute;
	z-index: 1000;
	color: #FFF;
	font-size: 2.25em;
}

.icon-comments:before {
	margin: 16px 2px 0 0;
}

.testimonials h2 {
	color: #FFF !important;
	margin-top: 2%;
}

.bx-wrapper .testimonials-thumbnail { 
	margin: 0px 0px 15px;
}

.bx-wrapper .testimonials-carousel-thumbnail { 
	max-width: 35%; 
	float: left; 
	margin-right: 20px;	
}

.bx-wrapper .testimonials-carousel-thumbnail img { 
	display: block;
	margin-right: 20px;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
}

.bx-wrapper .testimonials-carousel-context { 
	overflow: hidden; 
}

.bx-wrapper .testimonials-name { 
	font-family: 'Raleway', Arial, Helvetica, sans-serif; 
	font-size: 1.75em; 
	font-weight: 700;
	margin: 20px 0; 
	color: #1F3F51;
}

.bx-wrapper span { 
	font-family: 'Raleway', Arial, Helvetica, sans-serif; 
	font-size: 0.5em; 
	font-weight: 300;
	margin-left: 30px; 
	color: #FFF; 
}

.bx-wrapper .testimonials-carousel-content { 
	font-family: 'Lato', Arial, Helvetica, sans-serif; 
	font-size: 1.1em; 
	font-weight: 300; 
	font-style: italic;
	color: #FFF; 
	line-height: 120%;
}

.bx-wrapper { 
	position: relative;
	margin: 50px auto;
	padding: 0;
	width: 100%;
}

.bx-wrapper .slide {
	padding: 0;
	margin: 0;
	display: block;
}
	
.bx-wrapper .bx-viewport {
	padding: 0;
	margin-left: 0;
	z-index: 1;
	width: 100%;
	height: auto !important;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	position: absolute;
	display: none;
	bottom: -30px;
	width: 100%;
}

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url('../images/testimonials/bx_loader.gif') center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item  {
	display: inline-block;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

.bx-wrapper .bx-next {
	position: absolute;
	top: 0;
	right: 0;
	width: 38px;
	height: 38px;
	cursor: pointer;
	background: url('../images/testimonials/t-next.png') no-repeat 0 0;
	border-left: 1px solid #720707;
}

.bx-wrapper .bx-prev {
	position: absolute;
	top: 0px;
	right: 38px;
	width: 38px;
	height: 38px;
	cursor: pointer;
	background: url('../images/testimonials/t-prev.png') no-repeat 0 0;
	border-right: 1px solid #720707;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 0;
	margin-top: 0;
	margin-right: 0px;
	outline: 0;
	width: 38px;
	height: 38px;
	text-indent: -9999px;
	z-index: 1000;
}


/* --------------- 9. PRINCING & PLANS --------------- */

.dot-plans {
	background: url('../images/dot-blue.png') 50% 50% no-repeat;
	width: 70px;
	height: 70px;
	margin: -155px 0 0 48.2%;
	text-align: center;
	position: absolute;
	z-index: 1000;
	color: #FFF;
	font-size: 2.25em;
}

.icon-sitemap:before {
	margin: 14px 2px 0 0;
}

.pricing_table {  
	width: 100%;
	margin: 3% auto;
	float: left;
	visibility: hidden;
	opacity: 1;
}

.pricing_table ul { 
	list-style: none; 
	float: left; 
	width: 33%; 
	margin: 1px; 
	border: 1px solid #d5d5d5;
	padding: 3%;
	text-align: center;
	background-color: #FFF;
}

.pricing_table ul:hover { 
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-o-transform: scale(1.1);
	cursor:pointer;
	background: #FFF;
}

.pricing_table ul li {  
	padding:10px 0;
}

.pricing_table ul li:first-child { 
	font-size: 2em;
	color: #FFF;
	font-weight: 600;
	background: #1F3F51;
	padding: 8%;
}
.pricing_table ul li:nth-child(2) { 
	background: #FFF;
	font-size: 3em;
	font-weight: bold;
	padding: 15% 0 10% 0;
	color: #720707;
}

.pricing_table ul li:nth-child(3) { 
	color: #720707;
	font-family: 'Raleway', 'Helvetica', sans-serif;
	font-size: 1em;
	font-weight: bold;
}
.pricing_table ul li:nth-child(n+4) { 
	font-size: 1em;
}
.pricing_table ul li:last-child a { 
	background: #720707;
	border:1px solid #720707;
	padding:5%;
	margin:5px 0;
	color: #FFF;
	font-family: 'Raleway', 'Helvetica', sans-serif;
	font-size: 1.3em;
	font-style: normal;
	font-weight: bold;
	display:block;
}


/* --------------- 10. CONTACT --------------- */

.contact-form {
	padding-top: 60px;
}

.dot-contact {
	background: url('../images/dot-red.png') 50% 50% no-repeat;
	width: 70px;
	height: 70px;
	margin: -155px 0 0 48.2%;
	text-align: center;
	position: absolute;
	z-index: 1000;
	color: #FFF;
	font-size: 2.25em;
}

.icon-map-marker:before {
	margin: 16px 2px 0 0;
}

.contact h2 {
	color: #FFF;
}

.contact-details-title {
	text-align: center;
	font-weight: 800;
}

.contact-details {
	text-align: center;
}

.form-control{ 
	border-radius: 0;
}

.form-control:focus {
  border-color: #10AAAC;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
	border-radius: 0;
	float: right;
}

.btn-success {
	background-color: #720707;
	border-color: #720707;
	border-radius: 0;
	float: right;
	margin-right: 5px;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	background-color: #720707;
	border-color: #720707;
}

.contact-map {
	height: 328px;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	border: 0;
}


/* ------------ 11. SOCIAL & COPYRIGHT FOOTER ------------ */

.copyright {
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	color: #1F3F51;
	text-align: center;
	padding: 10px 0;
	margin: 10px 0 20px 0;
	background: #FFF
}

.social-media {
	height: 30px;
	text-align: center;
	margin: 24px auto;
}

.social {
	display: inline;
	font-size: 28px;
	color: #720707;
	padding: 10px 0;
}

.social a {
	font-size: 28px;
	color: #720707;
	text-decoration: none;
	padding: 0 5px;
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.social a:hover {
	color: #1F3F51;
}